body,
html {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode';
    background-color: #f1f1f1;
    overflow-x: hidden;
}

header {
    background-color: white;
    padding-top: 30px;
}

/* resize the title when size screen changes */
@media (max-width: 1020px) {
    .pageTitle {
        width: 45%;
    }
}

.logo {
    text-decoration: none;
    color: black;
    text-align: center;
    line-height: 15px;
}

.logo:hover {
    color: black;
    opacity: 70%;
}

.major {
    font-size: 12px;
    letter-spacing: 4px;
}

.coloredLine {
    height: 6px;
    background-image:
        linear-gradient(to right, #045fe6, #008cf9, #00b0f1, #00cde0, #82e6d6);
}

.bgColor {
    background-color: #f1f1f1;

}

.menuTitle {
    font-size: 13px;
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
}

.leftSide {
    background-color: white;
}

.menu li {
    list-style-type: none;
}

.componentMenu,
#lock {
    cursor: pointer;
}

.componentMenu:hover {
    color: #045fe6;
}

/* .verticalLine {
    width: 2px;
    background: #aaa;
    height: 100%;
    position: absolute;
    left: 39px;
    top: 15rem;
    padding-top: 3px;
    padding-bottom: 2px;
} */