body,
html {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode';
    background-color: #f1f1f1;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}

/* --------- index.html ----------- */
header {
    background-color: white;
    padding-top: 30px;
}

/* resize the title when size screen changes */
@media (max-width: 1020px) {
    .pageTitle {
        width: 45%;
    }
}

.logo {
    text-decoration: none;
    color: black;
    text-align: center;
    line-height: 15px;
}

.logo:hover {
    color: black;
    opacity: 70%;
}

.major {
    font-size: 12px;
    letter-spacing: 4px;
}

.coloredLine {
    height: 6px;
    background-image:
        linear-gradient(to right, #045fe6, #008cf9, #00b0f1, #00cde0, #82e6d6);
}

.bgColor {
    background-color: #f1f1f1;

}

.icon {
    background-color: white;
}

li {
    position: relative;
}

li:not(:last-child)::after {
    content: "";
    height: 100%;
    width: 1px;
    background: black;
    position: absolute;
    left: 7px;
    top: 20px;
}

.menuTitle {
    font-size: 13px;
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: white;
}

#sideMenu {
    background-color: white;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.menu li {
    list-style-type: none;
    cursor: pointer;
}

.menu li:hover {
    color: #00b0f1;

}

.tabsTitle {
    position: relative;
    display: inline-block;
    width: 80%;
    margin-left: 0px;
    vertical-align: top;
}

.componentMenu,
#lock {
    cursor: pointer;
}

.componentMenu:hover {
    color: #045fe6;
}

.continueBtn {
    padding: 10px 35px 10px 35px;
    border-radius: 16px;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    float: right;
    box-shadow: 2px 2px 0 0 rgb(0 0 0 / 10%);
    background-color: #045fe6;
    color: #fff;
    border: 0;
}

.continueBtn:hover {
    color: #fff;
    background-color: #008cf9;
}

.videos {
    max-width: 98%;
    padding: 10px 0px 25px 25px;
}

.active {
    color: #00b0f1;
}

/* ----------- quiz1.html ----------- */
.question {
    display: inline-block;
    background: #fff;
    color: #60636A;
    -webkit-box-shadow: 4px 4px 1px 1px rgb(0 0 0 / 10%);
    box-shadow: 4px 4px 7px 2px rgb(0 0 0 / 10%);
    text-decoration: none;
    border-radius: 25px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 22px;
    margin-left: 70px;
    margin-top: 70px;
    position: relative;
    padding: 45px;
    padding-left: 60px;
    margin-bottom: 20px;
}

.qicon {
    position: absolute;
    top: -50px;
    left: -40px;
}

.st1 {
    fill: #00b0f1;
}

.st0 {
    fill: white;
}

.answers {
    color: #60636A;
    font-size: 18px;
    padding: 15px 15px 0 90px;
}

.radioButtons {
    padding: 7px;
}


.submitBtn {
    box-shadow: 2px 2px 0 0 rgb(0 0 0 / 10%);
    text-transform: uppercase;
    padding: 10px 25px 10px 25px;
    border-radius: 16px;
    border: 0;
    margin-left: 80px;
    margin-top: 40px;
}

.submitBtn:hover {
    background-color: #00b0f1;
    color: white;
}

.hint {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px 30px 20px 40px;
    border-radius: 16px;
    box-sizing: border-box;
    text-align: left;
    color: #045fe6;
    float: right;
    position: relative;
    max-width: 400px;
    width: 100%;
    right: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
}

:where(.hint, .instruction, .hintSelection)>i {
    font-family: impact;
    border-radius: 100%;
    color: white;
    padding: 7px 15px;
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
    color: #045fe6;
}

.submitBtn {
    background-color: white;
}

.frameContainer {
    padding: 10px;
    min-height: auto;
}

/* -------------Radio button style------------ */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    line-height: 30px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 26px;
    height: 26px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 9px;
    height: 9px;
    background: #00b0f1;
    position: absolute;
    top: 9px;
    left: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* -----------------map.html----------------- */
.txt {
    color: #60636A;
    font-size: 18px;
    width: 70%;
    line-height: 20px;
}

.instruction {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px 20px 20px 25px;
    border-radius: 16px;
    box-sizing: border-box;
    text-align: left;
    color: #045fe6;
    position: relative;
    max-width: 400px;
    width: 100%;
    right: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.markerButtons {
    display: grid;
    max-width: 350px;
    grid-template-columns: auto auto;
    max-height: 0%;
    gap: 10px;
}

.markerButtons .btn {
    padding: 10px 20px 10px 20px;
    text-align: left;
    box-shadow: 2px 2px 0 0 rgb(0 0 0 / 10%);
    border: 0;
}

#steam:hover {
    background-color: rgb(246, 139, 46);
    color: white;
}

#gas:hover {
    background-color: rgb(204, 65, 65);
    color: white;
}

#diesel:hover {
    background-color: rgb(0, 84, 163);
    color: white;
}

#combined:hover {
    background-color: rgb(66, 174, 188);
    color: white;
}

#diesel-gas:hover {
    background-color: rgb(155, 206, 59);
    color: white;
}

#showAll:hover {
    background-color: rgb(96, 99, 106);
    color: white;
}

:where(#steam, #gas, #diesel, #combined, #diesel-gas, #showAll):hover>i {
    color: white !important;
}

.selected,
.selected i {
    color: white !important;
    cursor: default;
}

#steam.selected {
    background-color: rgb(246, 139, 46);
}

#gas.selected {
    background-color: rgb(204, 65, 65);
}

#diesel.selected {
    background-color: rgb(0, 84, 163);
}

#combined.selected {
    background-color: rgb(66, 174, 188);
}

#diesel-gas.selected {
    background-color: rgb(155, 206, 59);
}

#showAll.selected {
    background-color: rgb(96, 99, 106);
}

/* -----------------component.html----------------- */
#Path_1:hover,
#Path_28:hover,
#Path_13:hover,
#Path_19:hover,
#Path_17:hover,
#Path_14:hover,
#Path_11:hover,
#Path_29:hover,
#Path_7:hover,
#rect2:hover,
#rect1:hover,
#rect3,
#rect4 {
    fill: #fcbf49;
    cursor: pointer;
}

/* ------------ selection.html ------------- */
#selectionBody {
    background-color: #2CA3B9;
}

.mainImg {
    background-image: url("../images/System_Selection_Box.png");
    background-size: 1400px auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 2400px;
}


.myContainer {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(1fr, auto);
}


/* .box {
    background-color: rgba(221, 221, 221, 0.215);
} */

.title {
    font-size: 18px;
    line-height: 20px;
    color: white;
    margin-top: 110px;
    padding-left: 50px;
}

.hintSelection {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 16px;
    text-align: left;
    color: #045fe6;
    position: relative;
    max-width: 300px;
    width: 100%;
}

.card {
    width: 15rem;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.144);
    border: 0;
}

.card.correct:after {
    content: '✓';
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    border-radius: 50%;
    padding: 3px 9px;
    background-color: #9BCE3B;
    color: white;
    position: absolute;
    top: 10px;
    right: -17px;
    font-size: 20px;
}

.card.wrong:after {
    content: '✖';
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    border-radius: 50%;
    padding: 2px 8px;
    background-color: #FF696E;
    color: white;
    position: absolute;
    top: 10px;
    right: -15px;
    font-size: 20px;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.24);
    cursor: pointer;
}

:where(.firstContent, .secondContent, .thirdContent, .fourthContent, .fifthContent) .item {
    display: none;
}

:where(.firstContent, .secondContent, .thirdContent, .fourthContent, .fifthContent) .item.show {
    display: block;
}


.card-body {
    background-color: white;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 5px;
}

.card-text {
    text-align: center;
    line-height: 95%;
}

.card2 {
    padding-top: 50px;
}


.card4 {
    padding-top: 220px;
}

.card5 {
    padding-top: 220px;
}

.card1,
.card2,
.card3,
.card4,
.card5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.card3 {
    padding-right: 140px;
    padding-top: 400px;
}


.myRow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
}

.leftArrow,
.rightArrow {
    color: rgba(255, 255, 255, 0.546);
    background-color: transparent;
    border: 0;
    transition: all 0.08s ease-in;
}

.leftArrow.inactive,
.rightArrow.inactive {
    color: rgba(255, 255, 255, 0.272);
    cursor: default;
    background-color: transparent;
    border: 0;
    transition: all 0.08s ease-in;
}

:where(.leftArrow, .rightArrow):hover {
    color: white;
}

.footer {
    border-top: 1px gainsboro dashed;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: right;
    padding-right: 30px;
}

.buttons {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 20px;
    justify-content: left;
    align-items: left;
}

.myBtn {
    box-shadow: 2px 2px 0 0 rgb(0 0 0 / 10%);
    text-transform: uppercase;
    border-radius: 16px;
    border: 0;
}

.myBtn:hover {
    background-color: #6dcdd8;
    color: white;
}

/* -------- systemComponent.html */
.sysText {
    margin-top: 10px;
    margin-left: 20px;
    color: #60636A;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0px 30px 0px;
    line-height: 30px;
}

.diagram {
    display: flex;
    row-gap: 80px;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: relative;
}

.sqr {
    border: 2px solid white;
    font-size: 18px;
    width: 270px;
    display: inline-block;
    padding: 17px 25px;
    margin-right: 10px;
    background: #fff;
    text-align: center;
    color: #888;
    text-decoration: none;
    border-radius: 16px;
    cursor: pointer;
    position: relative;
}

.sqr:hover {
    border: 2px solid #fcbf49;
}

.sqr:not(:last-child)::after {
    content: "";
    height: 180%;
    width: 2px;
    background: white;
    position: absolute;
    left: 130px;
    top: 63px;
}

.modal-content {
    border: 3px solid #fcbf49;
}